<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>capnproto 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>capnproto-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>capnproto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>capnprotoCxxTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>capnprotoCxxTestsIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>kj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>960E5A7618E4B4B800DEBB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>960E5A8B18E4B4B800DEBB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>960E5AAE18E4B51200DEBB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>960E5ABE18E4B51300DEBB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>960E5B0318E4B5F900DEBB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>960E5B1318E4B5F900DEBB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BA94D18CD0B540066EF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BA95D18CD0B540066EF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BAA1F18CD12C60066EF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BAA2C18CD12DA0066EF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BAA5F18CD15560066EF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BAA6C18CD174B0066EF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BAA8318CD174B0066EF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
